# Python Einführung

Heute lernen wir Python! Juhu!

Hier steht **fetter** Text, hier *kursiver* Text

## Erste Anweisung

In [1]:
print("Hello World!")

Hello World!

## Kommentare

In [4]:
# Dies ist ein Kommentar
print("Something")

Something

## Einfache Datentypen

In [7]:
# Variablen und Wertezuweisung (Value Assignment)
name = "Lovelace"
print(name)

Lovelace

In [8]:
# String - Zeichenkette
first_name = "Ada"
print(first_name)

Ada

In [9]:
# Integer - Ganzzahl
age = 37
print(age)

37

In [10]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [11]:
# Boolean - Boolscher Wert
knows_math = True
print(knows_math)

likes_gardening = False
print(likes_gardening)

True
False

In [15]:
# Typ anzeigen lassen
print(type(knows_math))

<class 'bool'>

In [17]:
# Nur der letzte Wert wird zurückgegeben
name
age

37

In [18]:
# Mit "print" werden beide Variablen ausgelesen
print(name)
print(age)

Lovelace
37

## Operatoren

In [22]:
# Addition von Integer
5 + 5

10

In [20]:
# Multiplizieren
age * 100

3700

In [21]:
# Verkettung von Strings
name + name

'LovelaceLovelace'

In [23]:
# String x-mal verketten
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [24]:
# funktioniert nicht, da zwei verschiedene Datentypen nicht miteinander zu verketten sind
name + 10

TypeError: can only concatenate str (not "int") to str

In [26]:
name + "10"

'Lovelace10'

In [27]:
age + 10

47

In [28]:
# Division
size/age

0.04627837837837838

In [31]:
number_of_articles = "50"
int(number_of_articles)/10

5.0

## Funktionen und Methoden

In [32]:
# Länge einer Zeichenkette angeben
len(name)

8

In [33]:
# Zeichenkette in Großbuchstaben ausgeben lassen
name.upper()

'LOVELACE'

In [34]:
name

'Lovelace'

In [35]:
# Zeichenkette als Großbuchstaben in neue Variable speichern
name_upper = name.upper()
name_upper

'LOVELACE'

In [36]:
name

'Lovelace'

In [37]:
# Zählen in Zeichenketten
name.count("e")

2

In [38]:
# Teil eines Strings ersetzen
name.replace("lace", " is everywhere")

'Love is everywhere'

In [39]:
name

'Lovelace'

## Listen und Dictionaries

### Liste

In [40]:
# Liste
list_names = ["Lovelace", "Darwin", "Noether", "Hawking"]

In [41]:
# Liste ausgeben lassen
list_names

['Lovelace', 'Darwin', 'Noether', 'Hawking']

In [42]:
# Erste Position der Liste ausgeben lassen
list_names[0]

'Lovelace'

In [44]:
# Es können keine Positionen ausgegeben werden, die nicht existieren
list_names[20]

IndexError: list index out of range

In [45]:
# Länge der Liste ausgeben lassen
len(list_names)

4

In [46]:
# letzte Position der Liste ausgeben lassen
list_names[-1]

'Hawking'

In [49]:
# mehrere Positionen aus der Liste ausgeben lassen
list_names[0:3]

['Lovelace', 'Darwin', 'Noether']

In [50]:
# Slicing, alles vor einer bestimmten Position ausgeben lassen
list_names[:2]

['Lovelace', 'Darwin']

In [51]:
# Slicing, alles nach einer bestimmten Position ausgeben lassen
list_names[2:]

['Noether', 'Hawking']

### Dictionaries

In [53]:
dict_authors_birth_years = {
    "Lovelace": 1815,
    "Darwin": 1809,
    "Noether": 1882,
    "Hawking": 1942
    }

In [54]:
dict_authors_birth_years["Darwin"]

1809

In [58]:
dict_students = {
    "Müller": 2,
    "Schneider": 1,
    "Schneider": 4,
    "Hamster": 3
}

In [59]:
dict_students["Schneider"]

4

In [61]:
# Schlüssel ist nicht korrekt geschrieben, daher Fehlermeldung
dict_students["SCHNEIDER"]

KeyError: 'SCHNEIDER'

In [62]:
# gibt alle gesetzen Variablen aus
%whos

Variable                   Type     Data/Info
---------------------------------------------
age                        int      37
dict_authors_birth_years   dict     n=4
dict_students              dict     n=3
first_name                 str      Ada
knows_math                 bool     True
likes_gardening            bool     False
list_names                 list     n=4
name                       str      Lovelace
name_upper                 str      LOVELACE
number_of_articles         str      50
size                       float    1.7123

## for-Schleifen

In [63]:
# alle Positionen der Liste ausgeben lassen als for-Schleife
for person in list_names:
    print(person)

Lovelace
Darwin
Noether
Hawking

In [64]:
# alle Positionen der Liste ausgeben lassen ohne for-Schleife
list_names

['Lovelace', 'Darwin', 'Noether', 'Hawking']

In [81]:
# den Positionen der Liste noch eine Zeichenkette hinzufügen
for person in list_names:
    if person == "Lovelace":
        print(person + " did awesome stuff")
    else:
        print(person)

Lovelace did awesome stuff
Darwin
Noether
Hawking

## Bedingte Anweisungen (Conditionals)

In [66]:
temp = 20

In [68]:
20 > 15

True

In [69]:
20 > 70

False

In [70]:
# if
if temp > 15:
    print("It's warm")

It's warm

In [71]:
temp = 10

In [72]:
if temp > 15:
    print("It's warm")

In [74]:
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [79]:
temp = 10

if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
elif temp <= 15:
    print("It's luke warm")
else:
    print("It's cold")

It's luke warm